{% extends 'base.html' %}
{% block title %}
 programing | python | java | php | kotlin | (Naresh Swami) | Nsfuntu s
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-lg-5 ml-lg-3 col-md-5">
        </div>
        <div class="col-lg-4 mt-lg-3 d-none d-lg-block col-md-4">
            <img style="width:170px;" class="shadow-sm p-3 rounded " src="/static/circle-cropped(1).png" alt="">
        </div>
    </div>

    <div class="mt-lg-5 mt-sm-3 ">
        <h2 class="text-dark text-center shadow-sm p-3 mb-5 rounded"
            style="font-size:70px;font-family: Georgia, 'Times New Roman', Times, serif;"><span class="text-primary">
                LET'S | </span> CODE <span class="text-primary"> <br> WITH | </span> NSFUNTU S
        </h2>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <a href="/posts" class=" shadow-lg p-3  rounded mb-5 btn btn-light ml-lg-4 d-block"> <i
                    class="fa fa-send"></i> Let's Start </a>
        </div>
    </div>
</div>
{% endblock content %}